@model AA.Models.Bil

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marke)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marke.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategori.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Argang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Argang)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
