@model IEnumerable<AA.Models.Bil>

@{
    ViewData["Title"] = "Index";
}


<p> </p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table table-striped" style="margin-top:50px;">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                   style="color:black; text-decoration:none"
                   onmouseover="this.style.color = 'gray'" ; onmouseout="this.style.color='black'">
                    @Html.DisplayNameFor(model => model.Model)
                </a>
                @*@Html.DisplayNameFor(model => model.Model)*@
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Argang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Argang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marke.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-sm">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>